body {
  font-family: "Rajdhani", sans-serif;
}

p {
    font-size: 1.25rem;
}

h2 {
    font-size: 2rem;
}

li a {
    font-size: 1.25rem;
}

@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .custom-nav-color {
    background-color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
  }
  .carousel-caption h1 {
    text-shadow: 2px 2px 8px black;
    font-weight: 700;
    font-size: 3rem;
}
.custom-hero-title h1 {
    margin-bottom: 5rem;
}
.main-content {
    margin: 0 15rem;
}
}

@media only screen and (max-width: 991px) {
  .desktop {
    display: none;
  }

  .custom-hero-title h2 {
      margin-bottom: 0;
  }
}



.header-img {
  display: flex;
  justify-content: center;
}

.header-img img {
  width: 10%;
  padding: 1rem 0;
}

.custom-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-nav ul li {
  padding: 0 2rem;
}

.custom-nav-color {
  background-color: white;
}

.carousel-caption h2 {
    text-shadow: 2px 2px 8px black;
    font-weight: 700;
    font-size: 1.5rem;
}

.main-content {
    padding: 2rem;
}

.main-content h2 {
    text-align: center;
}

.principles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.motto {
    padding: 1rem 0;
}

.custom-card {
    border: none;
}

.custom-card-body {
    text-align: center;
}

.circle-div {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #de0000;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 8px black;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.circle-div i {
    color: white;
    font-size: 4rem;
    align-self: center;
    
}

footer {
    background-color: black;
}

.social {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.social i {
    color: white;
    font-size: 3rem;
    padding: 0 1rem;
}

.login {
    display: flex;
    justify-content: center;
}

.login img {
    width: 150px;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 1rem;
    
}

.footer-text p a {
    text-decoration: none;
    color: white;
    
}

.footer-text p {
    font-size: 1rem;
}