body {
  font-family: "Rajdhani", sans-serif;
}

@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .custom-nav-color {
    background-color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
  }
  .carousel-caption h1 {
    text-shadow: -2px 2px 0 black;
    font-weight: 700;
    font-size: 3rem;
}
}
@media only screen and (max-width: 991px) {
  .desktop {
    display: none;
  }
}

.header-img {
  display: flex;
  justify-content: center;
}

.header-img img {
  width: 10%;
  padding: 1rem 0;
}

.custom-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-nav ul li {
  padding: 0 2rem;
}

.custom-nav-color {
  background-color: white;
}

.carousel-caption h2 {
    text-shadow: -2px 2px 0 black;
    font-weight: 700;
    font-size: 1.5rem;
}
